<!--
    @parameters: mode; id, item, attr, loc
-->

<index:>
    {{with @item as #item}}{{with @attr as #attr}}
        <view name="-{{@mode}}" inherit />
    {{/}}{{/}}


<-text:>
    {{if #attr.i18n}}
        {{#item[#attr.id][l($locale)]}}
    {{else}}
        {{#item[#attr.id]}}
    {{/}}

<-html:>
    {{if @content}}
        <div class="row">
            <div class="col-md-4">
                <strong>{{@content}}</strong>
            </div>
            <div class="col-md-8">
                <view name="-text" inherit />
            </div>
        </div>
    {{else}}
        <view name="-text" inherit />
    {{/}}

<-edit:>
    {{if #attr.i18n}}
        {{if loc}}
            <textarea id="{{@id}}" class="form-control">
                {{#item[#attr.id][loc]}}
            </textarea>
        {{else}}
            <textarea id="{{@id}}" class="form-control">
                {{#item[#attr.id][l($locale)]}}
            </textarea>
        {{/}}
    {{else}}
        <textarea id="{{@id}}" class="form-control">
            {{#item[#attr.id]}}
        </textarea>
    {{/}}
