<!--
    @parameters: mode; id, item, attr; and loc for editing because we have to tell it which locale to edit,
    independently of which locale is currently in use.
-->

<index:>
    {{with @item as #item}}{{with @attr as #attr}}
        <view name="-{{@mode}}" inherit />
    {{/}}{{/}}


<-text:>
    {{attribute(#item, #attr, l($locale))}}

<-html:>
    {{if @content}}
        <strong>{{@content}}</strong>
        <span class="separator">: &nbsp;</span>
    {{/}}
    <span>
        {{attribute(#item, #attr, l($locale))}}
    </span>

<-edit:>
    <!-- for the id attribute we have to use @id because id is the component's controller id -->
    {{if #attr.i18n}}
        {{if loc}}
            <input id="{{@id}}" class="form-control" type="text" value="{{#item[#attr.id][loc]}}">
        {{else}}
            <input id="{{@id}}" class="form-control" type="text" value="{{#item[#attr.id][l($locale)]}}" />
        {{/}}
    {{else}}
        <input id="{{@id}}" class="form-control" type="text" value="{{#item[#attr.id]}}">
    {{/}}
