<!--
    @parameters: mode; id, item, attr, loc
-->

<index:>
    <!-- You CANNOT call subviews directly, Derby won't recognize the correct controller if you do! -->
    {{if !mode}}
        <view name="html" inherit />
    {{else}}
        <!-- <view name="{{@mode}}" inherit />  doesn't work!-->
        <!-- <view name="{{@mode}}" item="{{@item}}" />  doesn't work!-->
        <view name="{{mode}}" inherit />
    {{/}}


<plain:>
    {{attribute()}}

<html:>
    {{renderAttribute()}}

<edit:>
    {{if attr.i18n && loc}}
        <!-- for the id attribute we have to use @id because id is the component's controller id -->
        <input id="{{@id}}" class="form-control" type="text" value="{{item[attr.id][loc]}}">
    {{else}}
        <input id="{{@id}}" class="form-control" type="text" value="{{item[attr.id]}}">
    {{/}}
