<!--
    @parameters: mode; id, item, attr, loc
-->

<index:>
    {{with @item as #item}}{{with @attr as #attr}}
        <view name="-{{@mode}}" inherit />
    {{/}}{{/}}


<-text:>
    {{if #attr.i18n}}
        {{#item[#attr.id][l($locale)]}}
    {{else}}
        {{#item[#attr.id]}}
    {{/}}

<-html:>
    {{if @content}}
        <div class="row">
            <div class="col-md-4">
                <strong>{{@content}}</strong>
            </div>
            <div class="col-md-8">
                <view name="-text" inherit />
            </div>
        </div>
    {{else}}
        <view name="-text" inherit />
    {{/}}

<-edit:>
    <!-- Another BUG in Derby: binding to a textarea doesn't work! -->
    {{if #attr.i18n}}
        {{if loc}}
            <input id="{{@id}}" class="form-control" type="text" value="{{#item[#attr.id][loc]}}" />
            <!-- <textarea id="{{@id}}" class="form-control" value="{{#item[#attr.id][loc]}}" /> -->
        {{else}}
            <textarea id="{{@id}}" class="form-control" value="{{#item[#attr.id][l($locale)]}}" />
        {{/}}
    {{else}}
        <textarea id="{{@id}}" class="form-control" value="{{#item[#attr.id]}}" />
    {{/}}
